# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/

# Data
*.csv
*.xlsx
*.zip
data/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# System-specific
outputs/logs/
outputs/reports/
